.formTitle {
	display: flex;
	justify-content: center;
}

.empty {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.btn {
	margin-top: 20px;
}

.item {
	margin-top: 15px;
}

.error {
	margin: auto;
	margin-top: 10px;
}