.Text {
	
}

.title {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.text {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.primary {
	color: var(--primary-color);
}

.primary {
	color: var(--secondary-color);
}

.size_s {
	font-size: var(--font-size-s);
}

.size_m {
	font-size: var(--font-size-m);
}

.size_l {
	font-size: var(--font-size-l);
}

.size_xl {
	font-size: var(--font-size-xl);
}