.MainPageTitle {
	width: 100%;
	padding: 40px 20px 100px 20px;
}

.mainTitle {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.subTitleWrap {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.subSubTitle {
	width: 100%;
	display: flex;
	justify-content: center;
}