.AppLink {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-decoration: none;
}

.primary {
	color: var(--primary-color);
}

.secondary{
	color: var(--secondary-color);
}