.Button {
	cursor: pointer;
	color: var(--button-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 20px;
	border-radius: 5px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
	transition: 0.3s;
	&:hover {
		opacity: 0.7;
	}
}

.clear,
.clearInverted {
	color: var(--secondary-color);
	padding: 0;
	background: none;
	border: none;
	outline: none;
}

.clearInverted {
	color: var(--inverted-secondary-color);
}

.error {
	background: var(--red-light);
	color: var(--secondary-color);
	border: none;
}

.access {
	background: var(--access-color);
	color: var(--secondary-color);
	border: none;
}

.mono {
	background: #ffffff;
	color: var(--overlay-color);
}

.outline {
	border: 2px solid var(--button-primary);
	background: none;
	color: var(--secondary-color);
}

.outlineInverted {
	border: 1px solid var(--inverted-secondary-color);
	background: none;
	color: var(--inverted-secondary-color);
}

.background {
	background: var(--button-primary);
	color: var(--secondary-color);
	border: none;
}

.backgroundInverted {
	background: var(--inverted-bg-color);
	color: var(--secondary-color);
	border: none;
}

.backgroundInvertedText {
	background: var(--button-primary);
	color: var(--primary-color);
	border: none;
}

.circle {
	padding: 0;
	border-radius: 50%;
}

.circle_s {
	width: var(--button-s-height);
	height: var(--button-s-height);
}

.circle_m {
	width: var(--button-m-height);
	height: var(--button-m-height);
}

.circle_l {
	width: var(--button-l-height);
	height: var(--button-l-height);
}

.circle_xl {
	width: var(--button-xl-height);
	height: var(--button-xl-height);
}

.circle_xxl {
	width: var(--button-xxl-height);
	height: var(--button-xxl-height);
}

.size_s {
	font-size: var(--font-size-s);
	height: var(--button-s-height);
}

.size_m {
	font-size: var(--font-size-m);
	height: var(--button-m-height);
}

.size_l {
	font-size: var(--font-size-l);
	height: var(--button-l-height);
}

.size_xl {
	font-size: var(--font-size-xl);
	height: var(--button-xl-height);
}

.disabled {
	opacity: 0.5;
}

.hovered:hover {
	opacity: 0.7;
	transition: 0.3s;
}