.btns {
	width: 300px;
	display: flex;
	justify-content: space-around;
}

.btn {
	border: 7px solid #E5E5E5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.questionIcon {
	fill: #F9D978;
}

@media (max-width: 675px) {
	.btns {
		width: 250px;
	}
}
