.btns {
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn {
	border: 7px solid #E5E5E5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.questionIcon {
	fill: #F9D978;
}

