.app_dark_theme {
	--bg-color: #021020;
	--inverted-bg-color: #FFFFFF;
	--primary-color: #FFFFFF;
	--secondary-color: #000000;

	--inverted-primary-color: #000000;
	--inverted-secondary-color: #FFFFFF;

	--theme-switcher-color: #000000;
	--theme-switcher-color-inverted: #ffffff;

	--inst-panel-background: #ffffff;

	--button-primary: #131313;
	--button-hovered-text: #636363;

	--info-block-bg-color: #00020F;

	--input-focus-border: #0026FF;

	--show-eye: #ffffff;

	--input-profile: #131313;

	// skeleton
	--skeleton-shadow: #2b2be8;
	--skeleton-color: #1515ad;

	// anketCard
	--border-color: #ffffff;
}