.app_dark_theme {
	--bg-color: #021020;
	--inverted-bg-color: #FFFFFF;
	--primary-color: #000000;
	--secondary-color: #FFFFFF;

	--inverted-primary-color: #FFFFFF;
	--inverted-secondary-color: #000000;

	--theme-switcher-color: #000000;
	--theme-switcher-color-inverted: #ffffff;

	--inst-panel-background: #ffffff;

	--button-primary: #131313;
	--button-hovered-text: #636363;
}