.app_light_theme {
	--bg-color: #FAFAFA;
	--inverted-bg-color: #001DC2;
	--primary-color: #131313;
	--secondary-color: #FFFFFF;

	--inverted-primary-color: #FFFFFF;
	--inverted-secondary-color: #131313;

	--theme-switcher-color: #ffffff;
	--theme-switcher-color-inverted: #000000;

	--inst-panel-background: #2A8CFF;

	--button-primary: #2A8CFF;
	--button-hovered-text: #cacaca;

	--info-block-bg-color: #ffffff;
	
	--input-focus-border: #001DC2;

	--show-eye: #1C274C;

	--input-profile: #f8f8f8;

	// skeleton
	--skeleton-shadow: rgba(68, 68, 68, 0.2);
	--skeleton-color: #cccccc;
}