.app_light_theme {
	--bg-color: #FAFAFA;
	--inverted-bg-color: #001DC2;
	--primary-color: #FFFFFF;
	--secondary-color: #131313;

	--inverted-primary-color: #131313;
	--inverted-secondary-color: #FFFFFF;

	--theme-switcher-color: #ffffff;
	--theme-switcher-color-inverted: #000000;

	--inst-panel-background: #2A8CFF;

	--button-primary: #2A8CFF;
	--button-hovered-text: #cacaca;
}