.ThemeSwitcher {
	display: flex;
	margin-left: 15px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 23px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--inverted-secondary-color);
	transition: .4s;
}

.ball {
	position: absolute;
	border-radius: 50%;
	content: "";
	height: 23px;
	width: 23px;
	left: 0px;
	bottom: 0px;
	background-color: var(--secondary-color);
	transition: .4s;
}

.isSwitched {
	transform: translateX(26px);
}

.bgSwithed {
	background: none;
	border: 3px solid rgb(0, 0, 0);
	position: absolute;
	left: -4px;
	bottom: -4px;
}

.round {
	border-radius: 34px;
}

.round:before {
	border-radius: 50%;
}