.ThemeSwitcher {
	display: flex;
	margin-left: 15px;
}

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 45px;
	height: 20px;
	background: var(--theme-switcher-color-inverted);
	display: block;
	border-radius: 100px;
	position: relative; 
}

label:after {
	content: '';
	position: absolute;
	left: 1px;
	width: 21px;
	height: 21px;
	background: var(--theme-switcher-color);
	border-radius: 30px;
	transition: 0.3s;
}

input:checked+label {
	background: var(--theme-switcher-color-inverted);
	border: 3px solid var(--theme-switcher-color);
}

input:checked+label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}