.NavbarProfilePanel {
	width: 200px;
	height: 50px;
	background: var(--inst-panel-background);
	border-radius: 5px;
}

.content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px;
}

.iconWrap {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	transition: 0.3s;
	&:hover {
		opacity: 0.7;
	}
}

.badge {
	width: 10px;
	height: 10px;
	background: var(--red-light);
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: 0;
}
