.MainPageTitle {
	width: 100%;
}

.mainTitle {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.subTitleWrap {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.subTitle {
	text-align: center;
}

.subSubTitle {
	width: 100%;
	display: flex;
	justify-content: center;
}