.Navbar {
	width: 100%;
	background: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rightSide {
	width: 400px;
	display: flex;
}

.leftSide {
	width: 250px;
	display: flex;
	justify-content: space-around;
}

@media (max-width: 675px) {
	.content {
		width: 100%;
		flex-direction: column;
		padding: auto;
	}

	.leftSide {
		margin-top: 10px;
	}
}

@media (max-width: 400px) {
	.content {
		width: 100%;
		flex-direction: column;
		padding: auto;
	}

	.icon {
		display: none;
	}
}
