.Navbar {
	width: 100%;
	height: var(--navbar-height);
	background: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rightSide {
	width: 400px;
	display: flex;
}

.leftSide {
	width: 250px;
	display: flex;
	justify-content: space-around;
}
